export(
basis,
dbasis,
dfss,
dgenf,
dgenf.orig,
dgengamma,
dgengamma.orig,
dgompertz,
dllogis,
dsurvspline,
flexsurvreg,
flexsurvspline,
fss,
hexp,
Hexp,
hgamma,
Hgamma,    
hgenf,
Hgenf,
hgenf.orig,
Hgenf.orig,
hgengamma,
Hgengamma,
hgengamma.orig,
Hgengamma.orig,
hgompertz,
Hgompertz,
hllogis,
Hllogis,
hlnorm,    
Hlnorm,    
hsurvspline,
Hsurvspline,
hweibull,    
Hweibull,    
lines.flexsurvreg,
msfit.flexsurvreg,    
normboot.flexsurvreg,
pgenf,
pgenf.orig,
pgengamma,
pgengamma.orig,
pgompertz,
pllogis,
psurvspline,
plot.flexsurvreg,
pmatrix.fs,
pmatrix.simfs,    
qgeneric,
qgenf,
qgenf.orig,
qgengamma,
qgengamma.orig,
qgompertz,
qllogis,    
qsurvspline,
rgenf,
rgenf.orig,
rgengamma,
rgengamma.orig,
rgompertz,
rllogis,    
sim.fmsm,    
summary.flexsurvreg,
totlos.fs,
totlos.simfs,
unroll.function
)

importFrom(graphics, plot)
importFrom(survival, Surv)
importFrom(survival, survfit)
importFrom(survival, coxph)
importFrom(survival, survreg)
importFrom(survival, survreg.control)
importFrom(muhaz, muhaz)
importFrom(mvtnorm, rmvnorm)
importFrom(deSolve, ode)

S3method(print, flexsurvreg)
S3method(plot, flexsurvreg)
S3method(lines, flexsurvreg)
S3method(summary, flexsurvreg)
S3method(vcov, flexsurvreg)
S3method(logLik, flexsurvreg)
S3method(model.frame, flexsurvreg)
S3method(model.matrix, flexsurvreg)
S3method(print, summary.flexsurvreg)
